
.blog-container{
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.all-blogs{
    max-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap:10px;
    padding: 50px;
    margin: auto;
}

@media screen and (max-width:1200px) {
    .all-blogs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width:1000px) {
    .all-blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width:700px) {
    .all-blogs{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}