*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  
  
  
}
.App{
  width: 100px;
}

/* .fadein {
  opacity: 0;
  -moz-transition: opacity 1.5s;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
}

body.loaded .fadein {
  opacity: 1;
  animation: 1s ease-out 0s 1 slideInFromLeft; 
} */

